/*
Hide color mode toggle in small viewports
 */
@media (max-width: 996px) {
  .colorModeToggle {
    display: none;
  }
}

/*
Restore some Infima style that broke with CSS Cascade Layers
See https://github.com/facebook/docusaurus/pull/11142
 */
:global(.navbar__items--right) > :last-child {
  padding-right: 0;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userEmail {
  font-size: 0.9rem;
  color: var(--ifm-font-color-secondary);
}
